<div id="appModal" class="modal" style="display:none;">
    <div class="modal-content">
        <h3 id="appModalTitle"></h3>
        <div id="appModalBody"></div>
        <button type="button" id="appModalOk">OK</button>
    </div>
</div>
