@model tms_inc.Models.Position.Position

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Position</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Position name</label>
                <input asp-for="PositionName" class="form-control" />
                <span asp-validation-for="PositionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Position type</label>
                <div class="form-control">
                    @Html.DropDownListFor(model => model.PositionType, ViewBag.PositionTypes as SelectList)
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">End date</label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Job introduction</label>
                <textarea asp-for="JobResponsibilityIntro" class="form-control"> </textarea>
                <span asp-validation-for="JobResponsibilityIntro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Job responsibilities description</label>
                <textarea asp-for="JobResponsibilitiesString" class="form-control"> </textarea>
                <span asp-validation-for="JobResponsibilitiesString" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="Id" />
         

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
