<section class="inner-banner">
    <div class="thm-container">
        <h2>Contact Us</h2>
        <ul class="breadcumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Home</a></li>
            <li><span>Contact Us</span></li>
        </ul>
    </div>
</section>

<section class="sec-padding contact-page-content">
    <div class="thm-container">
        <div class="sec-title">
            <h2><span>Get in touch</span></h2>
            <p>Fill up below instant messaging programs.</p>
            <p class="contact-info-header">
                HERE AT TMS, Inc. WE ARE OPEN FIVE DAYS A WEEK <br />
                <span class="open-hours">  FROM 7 AM TO 5 PM MONDAY TO FRIDAY </span>
            </p>
        </div>
        <div class="row">
            <div class="col-md-7 col-sm-6 col-xs-12 pull-left submit-btn-padding">
                <form action="ContactUs" method="post" class="contact-form contact-page">
                    <p><input required type="text" placeholder="Name" name="name"></p>
                    <p><input type="email" placeholder="Email" name="email"></p>
                    <p><input required type="number" placeholder="Phone" name="phone"></p>
                    <p><input type="text" placeholder="Subject" name="subject"></p>
                    <p><textarea name="message" placeholder="Message"></textarea></p>
                    <button type="submit" class="thm-btn">Submit Now <i class="fa fa-arrow-right"></i></button>
                </form>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 pull-right">
                <div class="contact-info">
                    <ul>
                        <li>
                            <div class="icon-box">
                                <i class="icon icon-Pointer"></i>
                            </div>
                            <div class="content">
                                <p>TMS, Inc.<br>Chicago, IL</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon-box">
                                <i class="icon icon-Plaine"></i>
                            </div>
                            <div class="content">
                                <p>email@example.net<br>email@example.net</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon-box">
                                <i class="icon icon-Phone2"></i>
                            </div>
                            <div class="content">
                                <p>(773) 123 4567</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
      
    </div>
</section>