@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="rev_slider_wrapper thm-banner-wrapper">
    <div id="slider1" class="rev_slider" data-version="5.0">
        <ul>
            <li data-transition="parallaxvertical" data-ease="SlowMo.ease">
                <img src="~/images/slider/7.jpg" alt="">
                <div class="tp-caption sfb tp-resizeme caption-h1"
                     data-x="center" data-hoffset="0"
                     data-y="top" data-voffset="200"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="500">
                    WHERE REAL PEOPLE GET REAL RESULTS
                </div>
                <div class="tp-caption sfb tp-resizeme caption-p"
                     data-x="center" data-hoffset="0"
                     data-y="top" data-voffset="300"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="1000">
                    <h1 style="text-align:center">
                        “Keeping the Heart of America’s
                        supply chain beating!”<br>
                    </h1>
                    <h1 class="company-center">TMS inc</h1>
                </div>
                <div class="tp-caption sfl tp-resizeme"
                     data-x="center" data-hoffset="-100"
                     data-y="top" data-voffset="500"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="1500">
                    <a href="@Url.Action("RequestQuote", "Home")" class="thm-btn">Get Free Quote <i class="fa fa-arrow-right"></i></a>
                </div>
                <div class="tp-caption sfr tp-resizeme"
                     data-x="center" data-hoffset="115"
                     data-y="top" data-voffset="500"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="2000">
                    <a href="@Url.Action("Index", "Services")" class="thm-btn inverse">View Services <i class="fa fa-arrow-right"></i></a>
                </div>
            </li>
        </ul>
    </div>
</section>

<section class="about-info-box sec-padding">
    <div class="thm-container">
        <div class="row bottom-less">
            <div class="col-lg-4 hidden-md hidden-sm hidden-xs">
                <div class="img-cap-effect">
                    <div class="img-box">
                        <img src="~/images/about-info-box/2.jpg" alt="Awesome Image" />
                        <div class="img-caption">
                            <div class="box-holder"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="sec-title">
                    <h2><span>
                        WE ADAPT OUR SERVICES <br />
                        TO THE NEEDS OF OUR CLIENTS
                    </span></h2>
                    <p>
                        <i class="fas fa-hands-helping fa-2x"></i>
                         We can combine any of our products and services to create a package that’s tailored to your business.
                     
                    </p>
                    <ul class="bulleted-list">
                        <li><i class="fa fa-arrow-circle-right"></i> Logistics Consulting Services</li>
                        <li><i class="fa fa-arrow-circle-right"></i> Deliver Environmentally Responsible Client Services</li>
                        <li><i class="fa fa-arrow-circle-right"></i> Provide Employees with an Attractive Working Environment</li>
                        <li><i class="fa fa-arrow-circle-right"></i> An Active Community Partner</li>
                        <li><i class="fa fa-arrow-circle-right"></i> Maintain High Ethical Standards</li>
                        <li><i class="fa fa-arrow-circle-right"></i> Drive Continuous Improvement</li>
                    </ul>
                    <a href="@Url.Action("Index", "Services")" class="thm-btn">view our services <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="faq-section sec-padding">
    <div class="thm-container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="sec-title">
                    <h2><span>some of our core values</span></h2>
                </div>
                <div class="accrodion-grp" data-grp-name="faq-accrodion">
                    <div class="accrodion active">
                        <div class="accrodion-title">
                            <h4>professionalism</h4>
                        </div>
                        <div class="accrodion-content">
                            <div class="img-caption">
                                <div class="img-box">
                                    <img src="~/images/accrodion/professionals.jpg" alt="Awesome Image" />
                                </div>
                                <div class="content-box">
                                    <h4>Drivers can handle any shipment</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accrodion ">
                        <div class="accrodion-title">
                            <h4>flexibility</h4>
                        </div>
                        <div class="accrodion-content">
                            <div class="img-caption">
                                <div class="img-box">
                                    <img src="~/images/accrodion/flexibility.jpg" alt="Awesome Image" />
                                </div>
                                <div class="content-box">
                                    <h4>Flexibility to work with any client</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accrodion">
                        <div class="accrodion-title">
                            <h4>Cargo domestic</h4>
                        </div>
                        <div class="accrodion-content">
                            <div class="img-caption">
                                <div class="img-box">
                                    <img src="~/images/accrodion/1.jpg" alt="Awesome Image" />
                                </div>
                                <div class="content-box">
                                    <h4>Our Delivery is all our  country</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                
                <div class="accrodion">
                    <div class="accrodion-title">
                        <h4>Direct deposit</h4>
                    </div>
                    <div class="accrodion-content">
                        <div class="img-caption">
                            <div class="img-box">
                                <img src="~/images/accrodion/deposit.jpg" alt="Awesome Image" />
                            </div>
                            <div class="content-box">
                                <h4>Direct deposit program for drivers</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accrodion">
                    <div class="accrodion-title">
                        <h4>Honest, confident</h4>
                    </div>
                    <div class="accrodion-content">
                        <div class="img-caption">
                            <div class="img-box">
                                <img src="~/images/accrodion/team.jfif" alt="Awesome Image" />
                            </div>
                            <div class="content-box">
                                <h4>Honest, confident and professional team</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
      </div>
</section>



<section class="request-qoute has-overlay">
    <div class="thm-container">
        <div class="row">
         
            <div class="col-md-12">
                <div class="sec-padding">
                    <div class="sec-title">
                        <h2><span>request a quote</span></h2>
                    </div>
                    <form action="@Url.Action("RequestQuote","Home")" method="post"  class="contact-form">
                        <div class="form-grp full">
                            <input type="text" name="name" placeholder="Name">
                        </div>
                        <div class="form-grp full">
                            <input type="text" name="email" placeholder="Email">
                        </div>
                        <div class="form-grp full">
                            <input type="number" required name="phone" placeholder="Phone*">
                        </div>
                        <div class="form-grp">
                            <textarea name="message" placeholder="Message"></textarea>
                        </div>
                        <button type="submit" class="thm-btn">Submit Now <i class="fa fa-arrow-circle-right"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



