/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.mail-box {
    display: flex;
    flex-direction: row;
}


textarea {
    width: 100%;
}

#subjectInput {
    min-height: 50px;
}

#bodyInput {
    min-height: 100px;
}

#footerInput {
    min-height: 150px;
}

fieldset legend {
    background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
    border-radius: 2px;
    box-shadow: 3px 3px 15px #BBBBBB;
    color: #444444;
    font-weight: 700;
    padding: 5px 10px;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

.mail-shot {
    margin-left: 50px;
}

.drop-down {
    width: 300px;
    height: 50px;
}

select {
    word-wrap: normal;
    width: 100%;
    height: 100%;
    border: none;
}

.nav-item {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-left: 5px;
    margin-right: 5px;
}

.text-dark {
    font-weight: 500;
}

/*Grid*/

.tracking {
    border: 1px solid;
    margin-bottom: 50px;
    width: 100%;
}

.head {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

.name {
    width: 200px;
}

.phone {
    width: 225px;
}

.truck {
    width: 100px;
}

.trailer {
    width: 100px;
    border-right: 3px solid;
}

.day {
    width: 180px;
}

#today {
    font-weight: 800;
}

tr.user td {
    background-color: #000000;
    border: 1px solid #000000;
    color: #FFFFFF;
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
    padding: 3px 0px 0px 20px !important;
}

tr.value {
    background-color: #F2F2F2;
}

.tracking td {
    background-color: inherit;
    border: 1px solid;
    font-weight: inherit;
    padding: 5px 0px;
    text-align: center;
}

td > input {
    width: 89% !important;
}

.city {
    width: 150px;
    height: 27px;
    text-align: center;
}

header + .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: none !important;
}

button {
    background-color: #000000;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    padding: 4px;
}

.nav-flex {
    display: flex;
    justify-content: center;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    width: 180%;
}

.trucks {
    border: 1px solid;
    margin-top: 50px;
}

    .trucks td {
        background-color: inherit;
        border: 1px solid;
        padding: 5px 0px;
        text-align: center;
    }

.grey-line {
    background-color: #BDBDBD;
    font-weight: bold;
    color: #000000;
}

.comment-area {
    top: 0px;
    height: 25px;
    width: 80%;
    line-height: normal;
    text-decoration: none solid rgb(0, 0, 0);
    letter-spacing: normal;
    font-size: 15px;
}

#fix {
    margin: 0px auto;
    width: 900px;
}

.trailers {
    border: 1px solid;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 50px;
}

    .trailers td {
        background-color: inherit;
        border: 1px solid;
        padding: 5px 0px;
        text-align: center;
    }

.status {
    width: 439px;
}

.element.style {
    background-color: gray;
    color: rgb(255, 255, 255) !important;
    font-weight: 800;
}


fieldset {
    background: #EEEEEE;
    border: 1px solid #AAAAAA;
    border-radius: 4px 4px 0px 0px;
    box-shadow: 1px 1px 2px #FFFFFF inset;
    margin-top: 30px;
    margin-bottom: 25px;
    padding: 10px;
}

#log-out {
    background-color: aliceblue;
    align-self: end;
}

.margin-left3 {
    margin-left: 3px !important;
}

#positions th {
    min-width: 180px;
}

#positions #description {
    min-width: 400px;
}

#positions #job-introduction {
    min-width: 200px;
}

.menu-btns {
    min-width: 180px;
}

#index > th {
    min-width: 180px;
    max-width: 400px;
    padding-left: 5px;
    padding-right: 5px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.video {
    width: 99vw;
    height: 100vh;
    border: none;
    display: block;
    margin-left: -1rem;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}



@media (max-width: 1900 px) {
    .nav-buttons {
        margin-left: 45%;
    }
}
