<legend class="form-legend">
    Criminal Record
</legend>

<div class="form-radio form-radio-inline">
    <div class="form-radio-legend">
        Have you ever been convicted of a crime? <span class="required">*</span>
    </div>
    <label class="form-radio-label">
        <input name=beenCrimeConvicted class="form-radio-field" type="radio" value="yes" />
        <i class="form-radio-button"></i>
        <span>Yes</span>
    </label>
    <label class="form-radio-label">
        <input name=beenCrimeConvicted class="form-radio-field" type="radio" value="no" checked/>
        <i class="form-radio-button"></i>
        <span>No</span>
    </label>
    <div id="beenCrimeConvictedDetails" class="padding-left25 hide">
        <div class="form-element form-textarea">
            <textarea id="beenCrimeConvictedDetail" class="form-element-field" placeholder="Be sure to include specifics about whether it was a felony or a misdemeanor, the date of conviction, the fine or sentence, if you were pardoned, etc." rows="3"></textarea>
            <div class="form-element-bar"></div>
            <label class="form-element-label" for="emergencyContact">
                Please describe.
            </label>
        </div>
    </div>

</div>


<div class="form-radio form-radio-inline">
    <div class="form-radio-legend">
        Do you have criminal charges pending? <span class="required">*</span>
    </div>
    <label class="form-radio-label">
        <input name=beenDeferredProsecuted class="form-radio-field" type="radio" value="yes" />
        <i class="form-radio-button"></i>
        <span>Yes</span>
    </label>
    <label class="form-radio-label">
        <input name=beenDeferredProsecuted class="form-radio-field" type="radio" value="no" checked/>
        <i class="form-radio-button"></i>
        <span>No</span>
    </label>
    <div id="beenDeferredProsecutedDetails" class="padding-left25 hide">
        <div class="form-element form-textarea">
            <textarea id="beenDeferredProsecutedDetail" class="form-element-field" placeholder="Be sure to include specifics including the location, dates, etc." rows="3"></textarea>
            <div class="form-element-bar"></div>
            <label class="form-element-label" for="hasCriminalChargesPendingDetail">
                Please describe.
            </label>
        </div>
    </div>
</div>

<div class="form-radio form-radio-inline">
    <div class="form-radio-legend">
        Do you have criminal charges pending? <span class="required">*</span>
    </div>
    <label class="form-radio-label">
        <input name=hasCriminalChargesPending class="form-radio-field" type="radio" value="yes" />
        <i class="form-radio-button"></i>
        <span>Yes</span>
    </label>
    <label class="form-radio-label">
        <input name=hasCriminalChargesPending class="form-radio-field" type="radio" value="no" checked/>
        <i class="form-radio-button"></i>
        <span>No</span>
    </label>
    <div id="hasCriminalChargesPendingDetails" class="padding-left25 hide">
        <div class="form-element form-textarea">
            <textarea id="hasCriminalChargesPendingDetail" class="form-element-field" placeholder="Be sure to include specifics including the location, dates, etc." rows="3"></textarea>
            <div class="form-element-bar"></div>
            <label class="form-element-label" for="hasCriminalChargesPendingDetail">
                Please describe.
            </label>
        </div>
    </div>
</div>

<legend class="form-legend">
    Felonies
</legend>

<div class="form-radio form-radio-inline">
    <div class="form-radio-legend">
        Have you ever pled "guilty" to, been convicted of, or pled "no contest" to a felony? <span class="required" rows="3">*</span>
    </div>
    <label class="form-radio-label">
        <input name=everPledGuilty class="form-radio-field" type="radio" value="yes" />
        <i class="form-radio-button"></i>
        <span>Yes</span>
    </label>
    <label class="form-radio-label">
        <input name=everPledGuilty class="form-radio-field" type="radio" value="no" checked/>
        <i class="form-radio-button"></i>
        <span>No</span>
    </label>
    <div id="everPledGuiltyDetails" class="padding-left25 hide">
        <div class="form-element form-textarea">
            <textarea id="everPledGuiltyDetail" class="form-element-field" placeholder="Be sure to include specifics, the date of conviction, the fine or sentence, etc." rows="3"></textarea>
            <div class="form-element-bar"></div>
            <label class="form-element-label" for="hasCriminalChargesPendingDetail">
                Please describe.
            </label>
        </div>
    </div>
</div>

<legend class="form-legend">
    Misdemeanors
</legend>

<div class="form-radio form-radio-inline">
    <div class="form-radio-legend">
        Have you, within the last five years, pled "guilty" to, been convicted of, had prosecution deferred in connection with, or pled "no contest" to a misdemeanor? <span class="required">*</span>
    </div>
    <label class="form-radio-label">
        <input name=beenMisdemeanorGuilty class="form-radio-field" type="radio" value="yes" />
        <i class="form-radio-button"></i>
        <span>Yes</span>
    </label>
    <label class="form-radio-label">
        <input name=beenMisdemeanorGuilty class="form-radio-field" type="radio" value="no" checked/>
        <i class="form-radio-button"></i>
        <span>No</span>
    </label>
    <div id="beenMisdemeanorGuiltyDetails" class="padding-left25 hide">
        <div class="form-element form-textarea">
            <textarea id="beenMisdemeanorGuiltyDetail" class="form-element-field" placeholder="Be sure to include specifics, the date of conviction, the fine or sentence, etc." rows="3"></textarea>
            <div class="form-element-bar"></div>
            <label class="form-element-label" for="hasCriminalChargesPendingDetail">
                Please describe.
            </label>
        </div>
    </div>
</div>