<legend class="form-legend">
    Motor Vehicle Record
</legend>

<div class="form-radio form-radio-inline">
    <div class="form-radio-legend">
        Has any license, permit or privilege ever been denied, suspended or revoked for any reason? <span class="required">*</span>
    </div>
    <label class="form-radio-label">
        <input name=hadIssuesWithLicense class="form-radio-field" type="radio" value="yes" />
        <i class="form-radio-button"></i>
        <span>Yes</span>
    </label>
    <label class="form-radio-label">
        <input name=hadIssuesWithLicense class="form-radio-field" type="radio" value="no" />
        <i class="form-radio-button"></i>
        <span>No</span>
    </label>
    <div id="hadIssuesWithLicenseDetails" class="padding-left25 hide">
        <div class="form-element form-input">
            <input id="hadIssuesWithLicenseDate" type="text" class="form-element-field" />
            <div class="form-element-bar"></div>
            <label class="form-element-label" for="endDate">Date:</label>
        </div>
        <div class="form-element form-textarea">
            <textarea id="hadIssuesWithLicenseDetail" class="form-element-field"></textarea>
            <div class="form-element-bar"></div>
            <label class="form-element-label" for="emergencyContact">Please Explain</label>
        </div>
    </div>
</div>

<div class="form-radio form-radio-inline">
    <div class="form-radio-legend">
        Have you ever been convicted of driving during license suspension or revocation, or driving without a valid license or an expired license, or are any charges pending? <span class="required">*</span>
    </div>
    <label class="form-radio-label">
        <input name=hadLicenseSuspensionDriving class="form-radio-field" type="radio" value="yes" />
        <i class="form-radio-button"></i>
        <span>Yes</span>
    </label>
    <label class="form-radio-label">
        <input name=hadLicenseSuspensionDriving class="form-radio-field" type="radio" value="no" />
        <i class="form-radio-button"></i>
        <span>No</span>
    </label>
    <div id="hadLicenseSuspensionDrivingDetails" class="padding-left25 hide">
        <div class="form-element form-input">
            <input id="hadLicenseSuspensionDrivingDate" type="text" class="form-element-field" />
            <div class="form-element-bar"></div>
            <label class="form-element-label" for="endDate">Date:</label>
        </div>
        <div class="form-element form-textarea">
            <textarea id="hadLicenseSuspensionDrivingDetail" class="form-element-field"></textarea>
            <div class="form-element-bar"></div>
            <label class="form-element-label" for="emergencyContact">Please Explain</label>
        </div>
    </div>
</div>

<div class="form-radio form-radio-inline">
    <div class="form-radio-legend">
        Have you ever been convicted for any alcohol or controlled substance related offense while operating a motor vehicle, or are any charges pending? <span class="required">*</span>
    </div>
    <label class="form-radio-label">
        <input name=hadDrunkDriving class="form-radio-field" type="radio" value="yes" />
        <i class="form-radio-button"></i>
        <span>Yes</span>
    </label>
    <label class="form-radio-label">
        <input name=hadDrunkDriving class="form-radio-field" type="radio" value="no" />
        <i class="form-radio-button"></i>
        <span>No</span>
    </label>
    <div id="hadDrunkDrivingDetails" class="padding-left25 hide">
        <div class="form-element form-input">
            <input id="hadDrunkDrivingDate" type="text" class="form-element-field" />
            <div class="form-element-bar"></div>
            <label class="form-element-label" for="endDate">Date:</label>
        </div>
        <div class="form-element form-textarea">
            <textarea id="hadDrunkDrivingDetail" class="form-element-field"></textarea>
            <div class="form-element-bar"></div>
            <label class="form-element-label" for="emergencyContact">Please Explain</label>
        </div>
    </div>
</div>

<div class="form-radio form-radio-inline">
    <div class="form-radio-legend">
        Have you ever been convicted for possession, sale or transfer of an illegal substance (including but not limited to, marijuana, amphetamines, or derivatives thereof) while on duty, or are any charges pending? <span class="required">*</span>
    </div>
    <label class="form-radio-label">
        <input name=hadDrugTransfer class="form-radio-field" type="radio" value="yes" />
        <i class="form-radio-button"></i>
        <span>Yes</span>
    </label>
    <label class="form-radio-label">
        <input name=hadDrugTransfer class="form-radio-field" type="radio" value="no" />
        <i class="form-radio-button"></i>
        <span>No</span>
    </label>
    <div id="hadDrugTransferDetails" class="padding-left25 hide">
        <div class="form-element form-input">
            <input id="hadDrugTransferDate" type="text" class="form-element-field" />
            <div class="form-element-bar"></div>
            <label class="form-element-label" for="endDate">Date:</label>
        </div>
        <div class="form-element form-textarea">
            <textarea id="hadDrugTransferDetail" class="form-element-field"></textarea>
            <div class="form-element-bar"></div>
            <label class="form-element-label" for="emergencyContact">Please Explain</label>
        </div>
    </div>
</div>

<div class="form-radio form-radio-inline">
    <div class="form-radio-legend">
        Have you ever been convicted of reckless driving, careless driving or careless operation of a motor vehicle, or are any charges pending? <span class="required">*</span>
    </div>
    <label class="form-radio-label">
        <input name=hadRecklessDriving class="form-radio-field" type="radio" value="yes" />
        <i class="form-radio-button"></i>
        <span>Yes</span>
    </label>
    <label class="form-radio-label">
        <input name=hadRecklessDriving class="form-radio-field" type="radio" value="no" />
        <i class="form-radio-button"></i>
        <span>No</span>
    </label>
    <div id="hadRecklessDrivingDetails" class="padding-left25 hide">
        <div class="form-element form-input">
            <input id="hadRecklessDrivingDate" type="text" class="form-element-field" />
            <div class="form-element-bar"></div>
            <label class="form-element-label" for="endDate">Date:</label>
        </div>
        <div class="form-element form-textarea">
            <textarea id="hadRecklessDrivingDetail" class="form-element-field"></textarea>
            <div class="form-element-bar"></div>
            <label class="form-element-label" for="emergencyContact">Please Explain</label>
        </div>
    </div>
</div>

<div class="form-radio form-radio-inline">
    <div class="form-radio-legend">
        Have you ever tested positive, or refused to test on a pre-employment drug or alcohol test by an employer to whom you applied, but did not obtain safety-sensitive transportation work covered by DOT agency drug and alcohol testing rules in past three years, or have you ever tested positive or refused to test on any DOT-mandated drug or alcohol test? <span class="required">*</span>
    </div>
    <label class="form-radio-label">
        <input name=hadDrugTestPositive class="form-radio-field" type="radio" value="yes" />
        <i class="form-radio-button"></i>
        <span>Yes</span>
    </label>
    <label class="form-radio-label">
        <input name=hadDrugTestPositive class="form-radio-field" type="radio" value="no" />
        <i class="form-radio-button"></i>
        <span>No</span>
    </label>
    <div id="hadDrugTestPositiveDetails" class="padding-left25 hide">
        <div class="form-element form-input">
            <input id="hadDrugTestPositiveDate" type="text" class="form-element-field" />
            <div class="form-element-bar"></div>
            <label class="form-element-label" for="endDate">Date:</label>
        </div>
        <div class="form-element form-textarea">
            <textarea id="hadDrugTestPositiveDetail" class="form-element-field"></textarea>
            <div class="form-element-bar"></div>
            <label class="form-element-label" for="emergencyContact">Please Explain</label>
        </div>
    </div>
</div>
