
<div class="confirm-box">
    <div class="checkbox-div">
        <input type="checkbox" class="confirmation-checkbox"/>
    </div>
    <div>
        <i class="fas fa-star-of-life"></i> 
        By checking this box, I (a) acknowledge that I have read and understand the federal FCRA Summary of Rights and have been given the opportunity to copy/print the Summary of Rights and (b) agree to use an electronic signature to demonstrate my consent. An electronic signature is as legally binding as an ink signature.
    </div>
    </div>
