<div id="test" class="italic font-small">Para información en español, visite <a href="https://www.consumerfinance.gov/learnmore/" target="_blank">www.consumerfinance.gov/learnmore</a> o escribe a la Consumer Financial Protection Bureau, 1700 G Street N.W., Washington, DC 20552.</div>
<div class="doc-text">
    <div class="doc-header">A Summary of Your Rights Under the Fair Credit Reporting Act</div>
    <div>
        The federal Fair Credit Reporting Act (FCRA) promotes the accuracy, fairness, and privacy of information in the files of consumer reporting agencies. There are many types of consumer reporting agencies, including credit bureaus and specialty agencies (such as agencies that sell information about check writing histories, medical records, and rental history records). Here is a summary of your major rights under the FCRA. 
        <span class="bold">For more information, including information about additional rights, go to <a href="https://www.consumerfinance.gov/learnmore/" target="_blank">www.consumerfinance.gov/learnmore</a>  or write to: Consumer Financial Protection Bureau, 1700 G Street N.W., Washington, DC 20552.</span>
    </div>
    <div>
        <ul class="padding-top10">
            <li>
                <span class="bold">You must be told if information in your file has been used against you.</span> Anyone who uses a credit report or another type of consumer report to deny your application for credit, insurance, or employment - or to take another adverse action against you - must tell you, and must give you the name, address, and phone number of the agency that provided the information.
            </li>
            <li>
                <span class="bold"> You have the right to know what is in your file. </span>You may request and obtain all the information about you in the files of a consumer reporting agency (your "file disclosure"). You will be required to provide proper identification, which may include your Social Security number. In many cases, the disclosure will be free. You are entitled to a free file disclosure if:
                <ul style="list-style:circle">
                    <li>a person has taken adverse action against you because of information in your credit report;</li>
                    <li>
                        you are the victim of identity theft and place a fraud alert in your file;
                    </li>
                    <li>
                        your file contains inaccurate information as a result of fraud;
                    </li>
                    <li>
                        you are on public assistance;
                    </li>
                    <li>
                        you are unemployed but expect to apply for employment within 60 days.
                    </li>
                </ul>
                <div class="padding-top10">In addition, all consumers are entitled to one free disclosure every 12 months upon request from each nationwide credit bureau and from nationwide specialty consumer reporting agencies. See www.consumerfinance.gov/learnmore for additional information.</div>
            </li>
            <li>
                <span class="bold"> You have the right to ask for a credit score.</span> Credit scores are numerical summaries of your credit-worthiness based on information from credit bureaus. You may request a credit score from consumer reporting agencies that create scores or distribute scores used in residential real property loans, but you will have to pay for it. In some mortgage transactions, you will receive credit score information for free from the mortgage lender.
            </li>
            <li>
                <span class="bold">  You have the right to dispute incomplete or inaccurate information.</span> If you identify information in your file that is incomplete or inaccurate, and report it to the consumer reporting agency, the agency must investigate unless your dispute is frivolous. See  <a href="https://www.consumerfinance.gov/learnmore/">www.consumerfinance.gov/learnmore</a> for an explanation of dispute procedures.
            </li>
            <li>
                <span class="bold"> Consumer reporting agencies must correct or delete inaccurate, incomplete, or unverifiable information.</span> Inaccurate, incomplete, or unverifiable information must be removed or corrected, usually within 30 days. However, a consumer reporting agency may continue to report information it has verified as accurate.
            </li>
            <li>
                <span class="bold">Access to your file is limited.</span> A consumer reporting agency may provide information about you only to people with a valid need – usually to consider an application with a creditor, insurer, employer, landlord, or other business. The FCRA specifies those with a valid need for access.
            </li>
            <li>
                <span class="bold">You must give your consent for reports to be provided to employers.</span> A consumer reporting agency may not give out information about you to your employer, or a potential employer, without your written consent given to the employer. Written consent generally is not required in the trucking industry. For more information, go to <a href="https://www.consumerfinance.gov/learnmore/">www.consumerfinance.gov/learnmore</a>.
            </li>
            <li>
                <span class="bold"> You may limit "prescreened" offers of credit and insurance you get based on information in your credit report. </span> Unsolicited “prescreened” offers for credit and insurance must include a toll-free phone number you can call if you choose to remove your name and address form the lists these offers are based on. You may opt out with the nationwide credit bureaus at 1-888-5-OPTOUT (1-888-567-8688).
            </li>
            <li>
                The following FCRA right applies with respect to nationwide consumer reporting agencies:
                <div class="padding-top10 bold">
                    CONSUMERS HAVE THE RIGHT TO OBTAIN A SECURITY FREEZE
                </div>
                <p class="padding-top10">
                    <span class="bold"> You have a right to place a "security freeze" on your credit report, which will prohibit a consumer reporting agency from releasing information in your credit report without your express authorization.</span> The security freeze is designed to prevent credit, loans, and services from being approved in your name without your consent. However, you should be aware that using a security freeze to take control over who gets access to the personal and financial information in your credit report may delay, interfere with, or prohibit the timely approval of any subsequent request or application you make regarding a new loan, credit, mortgage, or any other account involving the extension of credit.
                </p>
                <p>
                    As an alternative to a security freeze, you have the right to place an initial or extended fraud alert on your credit file at no cost. An initial fraud alert is a 1-year alert that is placed on a consumer's credit file. Upon seeing a fraud alert display on a consumer's credit file, a business is required to take steps to verify the consumer’s identity before extending new credit. If you are a victim of identity theft, you are entitled to an extended fraud alert, which is a fraud alert lasting 7 years.
                </p>
                <p>
                    A security freeze does not apply to a person or entity, or its affiliates, or collection agencies acting on behalf of the person or entity, with which you have an existing account that requests information in your credit report for the purposes of reviewing or collecting the account. Reviewing the account includes activities related to account maintenance, monitoring, credit line increases, and account upgrades and enhancements.
                </p>
            </li>
            <li>
                <span class="bold">You may seek damages from violators.</span> If a consumer reporting agency, or, in some cases, a user of consumer reports or a furnisher of information to a consumer reporting agency violates the FCRA, you may be able to sue in state or federal court.
            </li>
            <li>
                <span class="bold"> Identity theft victims and active duty military personnel have additional rights.</span> For more information, visit www.consumerfinance.gov/learnmore.
            </li>
        </ul>
        <div class="bold">
            States may enforce the FCRA, and many states have their own consumer reporting laws. In some cases, you may have more rights under state law. For more information, contact your state or local consumer protection agency or your state Attorney General. For information about your federal rights, contact:
        </div>
    </div>

    <div>
        <table class="step1-table" border="1" cellpadding="5">
            <tr>
                <th>TYPE OF BUSINESS:</th>
                <th>
                    CONTACT:
                </th>
            </tr>
            <tr>
                <td>
                    <div>
                        1.a. Banks, savings associations, and credit unions with total assets of over $10 billion and their affiliates
                        <p>b. Such affiliates that are not banks, savings associations, or credit unions also should list, in addition to the CFPB:	</p>
                    </div>
                </td>
                <td>
                    <div>
                        a. Consumer Financial Protection Bureau
                        1700 G Street, N.W.
                        Washington, DC 20552
                        <p>
                            b. Federal Trade Commission
                            Consumer Response Center
                            600 Pennsylvania Avenue, N.W.
                            Washington, DC 20580
                            (877) 382-4357
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        2. To the extent not included in item 1 above:
                        <p>a. National banks, federal savings associations, and federal branches and federal agencies of foreign banks	</p>
                        <p>
                            b. State member banks, branches and agencies of foreign banks (other than federal branches, federal agencies, and Insured State Branches of Foreign Banks), commercial lending companies owned or controlled by foreign banks, and organizations operating under section 25 or 25A of the Federal Reserve Act.
                        </p>
                        <p>
                            c. Nonmember Insured Banks, Insured State Branches of Foreign Banks, and insured state savings associations
                        </p>
                        <p>d. Federal Credit Unions	</p>
                    </div>
                </td>
                <td>
                    <div>
                        a. Office of the Comptroller of the Currency
                        Customer Assistance Group
                        1301 McKinney Street, Suite 3450
                        Houston, TX 77010-9050
                        <p>
                            b. Federal Reserve Consumer Help Center
                            P.O. Box 1200
                            Minneapolis, MN 55480
                        </p>
                        <p>
                            c. FDIC Consumer Response Center
                            1100 Walnut Street, Box #11
                            Kansas City, MO 64106
                        </p>
                        <p>
                            d. National Credit Union Administration
                            Office of Consumer Financial Protection (OCFP)
                            Division of Consumer Compliance Policy and Outreach
                            1775 Duke Street
                            Alexandria, VA 22314
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        3. Air Carriers
                    </div>
                </td>
                <td>
                    <div>
                        Asst. General Counsel for Aviation Enforcement & Proceedings
                        Aviation Consumer Protection Division
                        Department of Transportation
                        1200 New Jersey Avenue, S.E.
                        Washington, DC 20590
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        4. Creditors Subject to the Surface Transportation Board
                    </div>
                </td>
                <td>
                    <div>
                        Office of Proceedings, Surface Transportation Board
                        Department of Transportation
                        395 E Street, S.W.
                        Washington, DC 20423
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        5. Creditors Subject to the Packers and Stockyards Act, 1921
                    </div>
                </td>
                <td>
                    <div>
                        Nearest Packers and Stockyards Administration area supervisor
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        6. Small Business Investment Companies
                    </div>
                </td>
                <td>
                    <div>
                        Associate Deputy Administrator for Capital Access
                        United States Small Business Administration
                        409 Third Street, S.W., Suite 8200
                        Washington, DC 20416
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        7. Brokers and Dealers
                    </div>
                </td>
                <td>
                    <div>
                        Securities and Exchange Commission
                        100 F Street, N.E.
                        Washington, DC 20549
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        8. Federal Land Banks, Federal Land Bank Associations, Federal Intermediate Credit Banks, and Production Credit Associations
                    </div>
                </td>
                <td>
                    <div>
                        Farm Credit Administration
                        1501 Farm Credit Drive
                        McLean, VA 22102-5090
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        9. Retailers, Finance Companies, and All Other Creditors Not Listed Above
                    </div>
                </td>
                <td>
                    <div>
                        Federal Trade Commission
                        Consumer Response Center
                        600 Pennsylvania Avenue, N.W.
                        Washington, DC 20580
                        (877) 382-4357
                    </div>
                </td>
            </tr>
        </table>
    </div>


</div>
